<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-permissions" version="1.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSPhotoLibraryUsageDescription and NSMicrophoneUsageDescription in iOS 10 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsphotolibraryusagedescription, nsmicrophoneusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>SafeSite requires camera access to allow you to take photos and scan QR codes.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>SafeSite requires photo library access to store photos you take.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>SafeSite uses Bluetooth to track beacons on a project.</string>
      </config-file>        
    </platform>
</plugin>
